apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - config/default
images:
  - name: registry.dummy-domain.com/image-scanner/controller
    newName: ghcr.io/statnett/image-scanner-operator
    newTag: 0.13.5 # x-release-please-version
