apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - manager.yaml
patchesStrategicMerge:
  - manager_patch.yaml
configMapGenerator:
  - literals:
      - CIS_METRICS_LABELS=app.kubernetes.io/name
      - SCAN_INTERVAL=12h
      # renovate-image:
      - TRIVY_IMAGE=ghcr.io/aquasecurity/trivy:0.44.1
      - SCAN_JOB_NAMESPACE=image-scanner
      - SCAN_JOB_SERVICE_ACCOUNT=image-scanner-job
      - SCAN_WORKLOAD_RESOURCES=deployments.apps,replicasets.apps,statefulsets.apps,daemonsets.apps,cronjobs.batch,jobs.batch,replicationcontrollers
      - ZAP_ENCODER=json
      - ZAP_LOG_LEVEL=info
      - ZAP_TIME_ENCODING=iso8601
    name: image-scanner-config
images:
  - name: controller
    newName: registry.dummy-domain.com/image-scanner/controller
    newTag: dev
