---
name: Delete obsolete container images
on:
  schedule:
    - cron: "0 1 * * *"  # every day at midnight
  workflow_dispatch:
permissions:
  contents: read
jobs:
  clean-ghcr:
    name: Delete obsolete container images
    permissions:
      packages: write # for snok/container-retention-policy to delete images
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@6b3083af2869dc3314a0257a42f4af696cc79ba3 # v2.3.1
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
      - name: Delete untagged container images older than a week
        uses: snok/container-retention-policy@482ce28159f65a8bfad986da1fedcef40169aa75 # v2.0.0
        with:
          image-names: image-scanner-operator
          cut-off: A week ago UTC
          account-type: org
          org-name: statnett
          untagged-only: true
          token: ${{ secrets.BOT_PAT }}
