---
name: Delete obsolete container images
on:
  schedule:
    - cron: "0 1 * * *"  # every day at midnight
  workflow_dispatch:
permissions:
  contents: read
jobs:
  clean-ghcr:
    name: Delete obsolete container images
    if: ${{ github.repository == 'statnett/image-scanner-operator' }}
    permissions:
      packages: write # for snok/container-retention-policy to delete images
    runs-on: ubuntu-latest
    steps:
      - id: token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.STATNETT_BOT_APP_ID }}
          private_key: ${{ secrets.STATNETT_BOT_PRIVATE_KEY }}
      - name: Delete untagged container images older than a week
        uses: snok/container-retention-policy@04c70fd030033036d69c0057e0d125bf25820544 # v2.1.2
        with:
          image-names: image-scanner-operator
          cut-off: A week ago UTC
          account-type: org
          org-name: statnett
          untagged-only: true
          token: ${{ steps.token.outputs.token }}
