---
name: Release Please
on:
  push:
    branches:
      - main
permissions:
  contents: write # for google-github-actions/release-please-action to create release commit
  pull-requests: write # for google-github-actions/release-please-action to create release PR
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@1f99358870fe1c846a3ccba386cc2b2246836776 # v2.2.1
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
      - uses: google-github-actions/release-please-action@ee9822ec2c397e8a364d634464339ac43a06e042 # v3.7.6
        with:
          token: ${{ secrets.BOT_PAT }}
          # TODO: Eventually remove this, when we are ready for GA (version 1.0.0)
          bump-minor-pre-major: true
          changelog-types: >
            [
              { "type": "feat", "section": "Features" },
              { "type": "fix", "section": "Bug Fixes" },
              { "type": "build", "scope": "deps", "section": "Dependency Updates" }
            ]
          release-type: simple
          extra-files: |
            kustomization.yaml
            README.md
