---
name: Release Please
on:
  push:
    branches:
      - main
permissions: # added using https://github.com/step-security/secure-workflows
  contents: read
jobs:
  release-please:
    permissions:
      contents: write # for google-github-actions/release-please-action to create release commit
      pull-requests: write # for google-github-actions/release-please-action to create release PR
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@ebacdc22ef6c2cfb85ee5ded8f2e640f4c776dd5 # v2.0.0
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
      - uses: google-github-actions/release-please-action@5c07f8be172b1f6e90f9c35baf8184461b91b85f # v3.7.1
        with:
          # TODO: Eventually remove this, when we are ready for GA (version 1.0.0)
          bump-minor-pre-major: true
          changelog-types: >
            [
              { "type": "feat", "section": "Features" },
              { "type": "fix", "section": "Bug Fixes" },
              { "type": "build", "scope": "deps", "section": "Dependency Updates" }
            ]
          release-type: go
