---
name: Release Please
on:
  push:
    branches:
      - main
permissions:
  contents: write # for google-github-actions/release-please-action to create release commit
  pull-requests: write # for google-github-actions/release-please-action to create release PR
jobs:
  release-please:
    if: ${{ github.repository == ‘statnett/image-scanner-operator’ }}
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@128a63446a954579617e875aaab7d2978154e969 # v2.4.0
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
      - uses: google-github-actions/release-please-action@51ee8ae2605bd5ce1cfdcc5938684908f1cd9f69 # v3.7.9
        with:
          token: ${{ secrets.BOT_PAT }}
          # TODO: Eventually remove this, when we are ready for GA (version 1.0.0)
          bump-minor-pre-major: true
          changelog-types: >
            [
              { "type": "feat", "section": "Features" },
              { "type": "fix", "section": "Bug Fixes" },
              { "type": "build", "scope": "deps", "section": "Dependency Updates" }
            ]
          release-type: simple
          extra-files: |
            kustomization.yaml
            README.md
